<% provide(:title, "Tasks") %>
<h1 class="ui header">
    <%= @project.title %>
</h1>
<%= form_for(@taskInput ,remote: true) do |f|  %>
    <div class="ui fluid input action">
        <%= f.hidden_field :project_id, value: @project.id %>
        <%= f.hidden_field :is_completed, value: false %>
        <%= f.text_field :title, placeholder: "New Task" %>
        <%= button_tag type: "submit", class: "ui teal button" do %>
            <i class="add icon"></i>
            Add
        <% end %>
    </div>
<% end %>
<div id="result">
    <%= render partial: 'tasks/task_result' %>
</div>
